div {
  text-align: center;
}

div i {
  font-size: 10rem;
  color: chocolate;
}

.fa-bell:hover {
  animation-name: shake;
  animation-duration: 0.3sn;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: rotate(15deg);
    transform-origin: top;
  }
  100% {
    transform: rotate(-15deg);
    transform-origin: top;
  }
}
