$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontColor: white;
$navBgColor: #30a7c3;
$myBorder: 1px solid brown;
$bannerColor: hotpink;
$buttonColor: rgb(223, 82, 106);
