.container {
  display: grid;
  grid-template-columns: 250px 400px 350px;
  grid-template-rows: 250px 300px 100px;
  gap: 5px;
}

.part {
  /* border: 2px solid red; */
  text-align: center;
}

.part:nth-child(odd) {
  background-color: lightgray;
}

.part:nth-child(even) {
  background-color: pink;
}

.part1 {
  background-image: url("https://picsum.photos/id/1029/600/400");
  width: 400px;
  height: 300px;
}

.part4 {
  overflow: auto;
  /* buraya ayri bir bck-color vermek siersek calismiyor-pseudo class lar baskindir */
  /* ama important la bunu yapabiliriz: */
  background-color: rgb(246, 208, 248) !important;
}

.part5 img {
  width: fit-content;
}
