* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//* variabales//

$bgColor: pink;
$fontFamily: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$fontColor: white;
$navBgColor: #30a7c3;
$fontSize: 1.2rem;
$myBorder: 2px solid brown;
$bannerColor: hotpink;

body {
  background-color: $bgColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  color: $fontColor;
}

header {
  background-color: $navBgColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  img {
    width: 80px;
    border: $myBorder;
    padding: 0.5rem;
  }
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      padding: 0.5rem;
      &:hover {
        text-decoration: underline;
      }
      a {
        color: $fontColor;
        text-decoration: none;
      }
    }
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bannerColor;
  line-height: 2rem;
  padding: 1rem;
  img {
    width: 30%;
    max-width: 400px;
    min-width: 250px;
  }
  button {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: pink;
    margin-top: 1rem;
    margin-left: 0.5rem;
    &:hover {
      background-color: rgb(246, 119, 140);
      cursor: pointer;
      transform: scale(0.97);
    }
  }
}

//! @mixin//

@mixin myBox($backColor, $color) {
  background-color: $backColor;
  width: 25%;
  height: 15rem;
  border-radius: 10px;
  color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .card1 {
    background-color: blue;
    width: 25%;
    height: 15rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card2 {
    @include myBox(green, yellow);
  }
  .card3 {
    @include myBox(magenta, $fontColor);
  }
  .card4 {
    @include myBox($bannerColor, yellow);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//! @extend//
.articles {
  display: flex;
  gap: 1rem;
  padding: 1rem;

  .article1 {
    @extend .flex;
    width: 50%;
    height: 10rem;
    border: $myBorder;
    border-radius: 10px;
    background-color: grey;
  }
  .article2 {
    @extend .article1;
    background-color: rgb(186, 90, 186);
  }
}

footer {
  $dark: 5;
  p {
    @if $dark==1 {
      background-color: grey;
    } @else if $dark==2 {
      background-color: orange;
    } @else {
      background-color: olive;
    }
  }
  .social-icons {
    display: flex;
    height: 10rem;
    $textColor: white, pink, magenta, aqua, yellow;

    @for $i from 1 through 5 {
      .social#{$i} {
        width: 25%;
        background-color: lighten(blue, $i * 5);
        font-size: 1rem * $i;
        color: nth($textColor, $i);
      }
    }
  }
}
