body {
  background-color: rebeccapurple;
}
.main {
  background-color: aquamarine;
  width: 90%;
  height: 500px;
  margin: 50px auto;
}

.box1 {
  background-color: violet;
  width: 100px;
  height: 100px;
}
.box2 {
  background-color: rgb(221, 199, 4);
  width: 100px;
  height: 100px;
  position: relative;
  /* top-bottom-left-right position verdikten sonra calisir */

  /* elementi marginle de kaydirisin ama margin diger elementleri kaydirir; position sadece söz konusu elementi hareket ettirir. */

  /* position-static defaulttur,onunla top-bottom... islemez */
  top: 20px;
  left: 30px;
}
.box3 {
  background-color: rosybrown;
  width: 50%;
  height: 30px;
  position: fixed;
  top: 200px;
  right: 0;
  border-radius: 20px;
  text-align: center;
}

p {
  background-color: palegoldenrod;
  border-radius: 20px;
  position: sticky;
  top: 20px;
  margin-top: 30px;
  text-align: center;
}
